body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#map { height: 300px; }


.period-mid {
  stroke: #a6cee3;
  fill: #a6cee3;
  stroke-dasharray: 2,5;
}
.period-lgm {
  stroke: #1f78b4;
  fill: #1f78b4;
  stroke-dasharray: 2,5;
}
.period-50 {
  stroke: #b2df8a;
  fill: #b2df8a;
  stroke-dasharray: 6,12;
}
.period-70 {
  stroke: #33a02c;
  fill: #33a02c;
  stroke-dasharray: 6,12;
}

.period-current {
  /* measured, no uncertainty */
  stroke: black;
  stroke-width: 3px;
  stroke-opacity: 0.9;
}

.median {
  fill: none;
  stroke-width: 2;
  stroke-opacity: 0.6;
}
.uncertainty {
  fill-opacity: 0.1;
  stroke-width: 0;
}

