body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#map { height: 250px; width: 500px;}


.median {
  fill: none;
  stroke-width: 2;
  stroke-opacity: 0.99;
}
.mmid {
  stroke: steelblue;
  stroke-dasharray: 3,5;
}
.mlgm {
  stroke: blue;
  stroke-dasharray: 3,5;
}
.m50 {
  stroke: green;
  stroke-dasharray: 12,12;
}
.m70 {
  stroke: red;
  stroke-dasharray: 12,12;
}
.mcurrent {
  /* measured, no uncertainty */
  stroke: black;
  stroke-width: 3px;
  stroke-opacity: 0.9;
}



/* uncertainty */
.uncertainty {
  fill-opacity: 0.2;
}
.umid {
  fill: steelblue;
}
.ulgm {
  fill: blue;
}
.u50 {
  fill: orange;
}
.u70 {
  fill: purple;
}

